@import 'font/montserrat.css';

body {
	font-family: montserrat, sans-serif;
	margin: 0;
	opacity: 0;
}

.shadow {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	-webkit-filter: drop-shadow(0 2px 0 black);
}

.filter-shadow {
	-webkit-filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.33));
}

.box-shadow {
	box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.33);
}

#container {
	position: absolute;
	overflow: hidden;
}
