<!-- TODO: change this to bower_components route, less confusing -->
<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/iron-image/iron-image.html">

<dom-module id="gdq-prizes">
	<template>
		<style>
			:host {
				position: absolute;
				display: block;
				overflow: hidden;
			}

			#images {
				display: flex;
				position: absolute;
				top: 0;
				left: 0;
				width: 200%;
				height: 100%;
				transform: translateX(0%);
			}

			#images iron-image {
				width: 50%;
				height: 100%;
			}

			#description {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 60px;
				border-top: 1px solid #7db3e3;
				background: rgba(0,117,161,0.51);
				font-weight: 600;
				font-size: 20px;
			}

			#descriptionText {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-align: center;
			}
		</style>

		<div id="images">
			<iron-image id="current" sizing="cover"></iron-image>
			<iron-image id="next" sizing="cover"></iron-image>
		</div>

		<div id="description">
			<div id="descriptionText" class="shadow"></div>
		</div>
	</template>

	<script src="gdq-prizes.js"></script>
</dom-module>
